{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Profile</title>
  <link rel="stylesheet" href="{% static "profiles/styles.css" %}">
</head>
<body>
  <form action="{% url 'create-profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload Profile Image</button>
  </form>

  <button style="margin-top: 1rem; align-self: center; color: white; background-color: #5c002e; border: 1px solid #5c002e; padding: 0.5rem 1.5rem; border-radius: 6px;"><a href="{% url 'list-uploads' %}" style="color: white; text-decoration: none;">View Uploaded Profiles</a></button>

</body>
</html>